<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Job">
        <activity
            android:name=".LeakActivity"
            android:exported="false" />
        <activity
            android:name=".ViewSavedInstance"
            android:exported="true">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".MetaTester"
            android:exported="true"></activity>

        <meta-data
            android:name="Hello"
            android:value="239472389791273" />
        <meta-data
            android:name="Word"
            android:value="239472389791273" />

        <activity
            android:name=".SizeControl"
            android:exported="true" />
        <activity
            android:name=".BitmapSaveTest"
            android:exported="true" />

        <activity
            android:name=".TestActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>